---
import SocialMedias from "./SocialMedias.astro";
---

<footer class="bg-gray-800 text-white py-6 mt-8">
  <div class="container mx-auto flex flex-col items-center justify-center space-y-4">
    <SocialMedias />
    <p class="text-sm text-gray-400">&copy; Kazuki Ohki 2023</p>
  </div>
</footer>
