---

---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
  }

  span.copyright {
    color: gray;
  }
</style>

<footer>
  <div>
    <span class="copyright">&copy; tamago0224 2023</span>
  </div>
</footer>
