---

---

<style>
  div.nav-links {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  div.nav links a:link {
    color: #004466;
  }
</style>
<div class="nav-links">
  <a href="/">ホーム</a>
  <a href="/blog/">ブログ</a>
  <a href="/tags/">タグ</a>
</div>
